<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jovanovic.stefan.sqlitetutorial">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SenddataActivity"
            android:exported="false"
            android:label="Send data by email"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewData"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UpdateActivity"
            android:parentActivityName=".ViewData" />
        <activity
            android:name=".AddActivity"
            android:label="Add Sample"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="SamStore"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>